# =========================
# Visual Studio / VS Code
# =========================
.vscode/
.vs/

# =========================
# .NET / ASP.NET Core
# =========================
**/bin/
**/obj/

# =========================
# Node
# =========================
node_modules/

# =========================
# Expo
# =========================
.expo/
dist/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment / Secrets
# =========================
.env
.env.*

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# macOS
# =========================
.DS_Store